{% extends "base.html" %}

{% block title %}
    Editor de PDF
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf_viewer.min.css">
{% endblock %}


{% block content %}
<div class="container">
    <header>
        <h1>Editor de PDF</h1>
    </header>
    <main>
        <!-- Formulario para seleccionar el archivo -->
        <div>
            <label for="fileInput">Selecciona un archivo PDF:</label>
            <input type="file" id="fileInput" accept="application/pdf">
        </div>

        <!-- Visor PDF.js cargado en un iframe -->
        <iframe
        id="pdfViewer"
        src="{{ url_for('static', filename='pdfjs/web/viewer.html') }}?file={{ file }}"
        width="80%"
        height="1000px"
        style="border: none;">
         </iframe>
    


    </main>
    <footer>
        <p>&copy; 2024 Editor de PDF</p>
    </footer>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.worker.min.js"></script>
<script>
    // Función para obtener el valor de un parámetro en la URL
    const getQueryParam = (param) => {
        const params = new URLSearchParams(window.location.search);
        return params.get(param);
    };

    // Función para actualizar el visor PDF.js dentro del iframe
    const updatePdfViewer = (fileUrl) => {
            const iframe = document.getElementById("pdfViewer");
            iframe.src = `static/pdfjs/web/viewer.html?file=${encodeURIComponent(fileUrl)}`;
        };

    // Inicializar el visor con el archivo desde los parámetros de la URL (opcional)
    window.onload = () => {
        const fileUrl = getQueryParam("file"); // Obtener el parámetro "file" de la URL
        if (fileUrl) {
            updatePdfViewer(fileUrl); // Actualizar el visor con el archivo en la URL
        }
    };

    // Evento de selección de archivo
    document.getElementById("fileInput").addEventListener("change", (event) => {
        const file = event.target.files[0];
        if (file) {
            const fileUrl = URL.createObjectURL(file); // Crear una URL temporal para el archivo local
            updatePdfViewer(fileUrl); // Actualizar el visor con el archivo seleccionado
        }
    });
</script>
{% endblock %}