<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantillas de Documentos</title>
    <link rel="stylesheet" href="stylesdoc.css">
</head>
<body>
    <!-- Navbar -->
    <!-- Galería de Plantillas -->
    <main>
        <section class="templates-section">
            <h2>Selecciona una plantilla para comenzar</h2>
            <div class="templates-container">
                <div class="template-card">
                    <a href="editor.html?file=templates\Documentos\Paper_Der_Informatico.pdf">
                        <img src="../../static/images/template-pdf.jpg" alt="Documento PDF">
                        <p>Documento 1</p>
                    </a>
                </div>
                <div class="template-card">
                    <a href="editor.html?file=C:\Arqui\micro_services\Todo-en-uno\templates\Documentos\Arquitectura_de_software.pdf">
                        <img src="../../static/images/template-pdf.jpg" alt="Otro Documento">
                        <p>Documento 2</p>
                    </a>
                </div>
                
                
                <div class="template-card">
                    <a href="template-cv.html">
                        <img src="../../static/images/template-cv.jpg" alt="Currículum">
                        <p>Currículum</p>
                    </a>
                </div>
                <div class="template-card">
                    <a href="template-propuesta.html">
                        <img src="../../static/images/template-propuesta.jpg" alt="Propuesta de Proyecto">
                        <p>Propuesta de Proyecto</p>
                    </a>
                </div>
                <div class="template-card">
                    <a href="template-acta.html">
                        <img src="../../static/images/template-acta.jpg" alt="Acta de Reunión">
                        <p>Acta de Reunión</p>
                    </a>
                </div>
                <div class="template-card">
                    <a href="template-plan.html">
                        <img src="../../static/images/template-plan.jpg" alt="Plan de Trabajo">
                        <p>Plan de Trabajo</p>
                    </a>
                </div>
                <!-- Nueva plantilla: Visor de PDF -->
                <div class="template-card">
                    <a href="editor.html">
                        <img src="../../static/images/template-pdf.jpg" alt="Visor de PDF">
                        <p>Visor de PDF</p>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Plantillas de Documentos. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
