/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #7d7fdd; /* Naranja pastel */
    padding: 1em 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* Contenedor principal */
.container {
    width: 70%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}

/* Sección de subida de archivos */
.upload-section, .list-section, .download-section {
    margin-top: 30px;
}

h3 {
    color: #388e3c; /* Verde pastel */
    margin-bottom: 10px;
}

input[type="file"], input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    margin-top: 10px;
    background-color: #03a9f4; /* Azul pastel */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0288d1;
}

/* Lista de archivos */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #3c74e4; /* Amarillo pastel */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: #444;
}

/* Footer */
footer {
    background-color: #7d7fdd; /* Rojo pastel */
    margin-top: 30px; /* Ajusta el valor a tu preferencia */
    
    text-align: center;
    padding: 5px 0;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Sección de descarga de archivos */
.download-section {
    margin-top: 30px;
    margin-bottom: 50px; /* Añade espacio adicional entre la sección de descarga y el footer */
}
