/* Estilos para el contenedor del header */
header {
    background-color: #222; /* Fondo negro */
    
    padding: 0px 0;
}
h1 {
    margin: 0;
    flex-grow: 1;
}
/* Contenedor principal del nav */
.navbar-container {
    display: flex;
    justify-content: flex-start; /* Alineado a la izquierda */
    align-items: center;
    width: 100%; /* Se mantiene el tamaño */
    margin: 0 auto;
}

/* Estilo del título */
header h1 {
    color: #1DB954; /* Verde vibrante */
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif; /* Uniformidad en la fuente */
}

/* Estilos del nav */
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start; /* Alineado a la izquierda */
    width: auto; /* Cambiado a auto para ajustar según contenido */
    padding: 0; /* Elimina padding por defecto */
}

/* Espaciado uniforme entre los elementos */
nav ul li {
    margin: 0 35px; /* Espacio igual entre elementos */
}

/* Estilos de los enlaces */
nav ul li a {
    color: #fff; /* Color blanco */
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

/* Efecto hover con línea debajo */
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #1DB954;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

/* Efecto hover */
nav ul li a:hover {
    color: #1DB954;
    transform: translateY(-3px); /* Ligeramente hacia arriba */
}

nav ul li a:hover::after {
    width: 100%;
}
/* Estilos para el dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.caret {
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2b2b2b;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Efectos adicionales para la versión responsive */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    header h1 {
        margin-bottom: 20px;
    }
}