
header {
  background-color: #004080;
  padding: 20px 0;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1rem;
}
.login {
  padding: 10px 20px;
  background-color: #ffdd40;
  border: none;
  border-radius: 5px;
  color: #004080;
  font-weight: bold;
  cursor: pointer;
}

/* Estilo para el banner */
.banner {
  background-image: url('/static/images/banner.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}
.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.banner .cta-button {
  padding: 15px 30px;
  background-color: #ffdd40;
  color: #004080;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.banner .cta-button:hover {
  background-color: #e6c635;
}