<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestión Eléctrica{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Navbar dinámico cargado desde JS -->
    <header>
        <div class="navbar-container">
            <img src="{{ url_for('static', filename='images/impresora.png') }}" alt="Logo" class="logo" width="70" height="70">
            <h1>Todo en uno</h1>
            <nav>
                <ul id="authLinks" class="nav-links">
                    <!-- El contenido del navbar será manejado por navbar.js -->
                </ul>
            </nav>
        </div>
    </header>

    <!-- Contenido dinámico de la página -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Todo en uno. Todos los derechos reservados.</p>
    </footer>

    {% block extra_js %}{% endblock %}
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</body>
</html>
